name: Test Minify HTML, CSS, JS
on:
  push:
      branches: [master]

permissions:
  contents: write

jobs:
  deploy:
      runs-on: ubuntu-latest
    
      steps:
        - name: Checkout repository code
          uses: actions/checkout@v5

        - name: Minify CSS & JS
          uses: nizarmah/auto-minify@v3
          with:
            overwrite: true 

        - name: Commit to test branches
          uses: stefanzweifel/git-auto-commit-action@v5
          with:
            branch: prod
            push_options: '--force'
